<mat-card class="example-card">
    <mat-card-header>
    </mat-card-header>
    <button class="mat-raised-button mat-primary" (click)="getRows()">GET DATA</button>
    <mat-card-content>
        <mat-form-field>
            <input matInput placeholder="Area_Details" [(ngModel)]="cr" id="adrr">
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="CRIME" [(ngModel)]="cr" id="cr">
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="CRIME_DETAILS" [(ngModel)]="cr" id="cdr">
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="DESCENT_DETAILS" [(ngModel)]="cr" id="ddr">
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="LOCATION_DETAILS" [(ngModel)]="cr"  id="ldr">
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="MO_DETAILS" [(ngModel)]="cr" id="mdr">
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="PREMISE_DETAILS"[(ngModel)]="cr" id="pr">
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="REPORT_STATUS" [(ngModel)]="cr" id="rsr">
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="VICTIM_DETAILS" [(ngModel)]="cr" id="vdr">
        </mat-form-field><br>
        <mat-form-field>
            <input matInput placeholder="WEAPON_DETAILS" [(ngModel)]="cr" id="wdr">
        </mat-form-field>
    </mat-card-content>
</mat-card>