p{
    height: stretch;
}

app-cmp-area-name-dropdown{
    float: left;
}

button{
    margin-left: 50px;
    height: 36px;
    margin-top: 11px;
}

.example-card {
    display: flex;
      flex-direction: column;
      min-width: 50%;
      max-width: 80%;
      margin-left: auto;
      margin-right: auto;
      height: stretch;
  }

  #container{
    display: none;
  }

  #progressSpinner{
      display: none;
      margin-top: 50px;
  }

  .example-margin {
    margin: 0 10px;
  }