<mat-toolbar  color="primary">
    <mat-icon (click)="sidenav.toggle()" style="cursor: pointer">menu</mat-icon>
    &nbsp;&nbsp;
    <span>LA City Crime Data</span>
</mat-toolbar>
<mat-sidenav-container autosize style="align-items: center;">
  <mat-sidenav #sidenav fixedTopGap="56" mode="push">
        <button mat-button routerLink="/Top100Table">HOME</button>
        <button mat-button routerLink="/YearCrime">YEAR WISE CRIME</button>
        <button mat-button routerLink="/DataOnMap">DATA ON MAP</button>
        <button mat-button routerLink="/GoogleMap">GOOGLE MAP</button>
        <button mat-button routerLink="/DayOfWeekGraph">DAY OF WEEK BASED DATA</button>
    </mat-sidenav>
    <router-outlet></router-outlet>
</mat-sidenav-container>
