<mat-card class="example-card">
  <mat-card-header>
      <mat-card-title><h2>Day of Week Wise Crime in LA City</h2></mat-card-title>
  </mat-card-header>
  <mat-card-content>
      <mat-form-field>
        <input matInput (dateInput)="addEvent('startDate', $event)" [value]="startDateVal" [min]="minStartDate" [max]="maxStartDate" [matDatepicker]="pickerStartDate" placeholder="Choose a start date">
        <mat-datepicker-toggle matSuffix [for]="pickerStartDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerStartDate></mat-datepicker>
      </mat-form-field>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <mat-form-field>
        <input matInput (dateInput)="addEvent('endDate', $event)" [value]="endDateVal" [min]="minEndDate" [max]="maxEndDate" [matDatepicker]="pickerEndDate" placeholder="Choose an end date">
        <mat-datepicker-toggle matSuffix [for]="pickerEndDate"></mat-datepicker-toggle>
        <mat-datepicker #pickerEndDate></mat-datepicker>
      </mat-form-field>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button class="mat-raised-button mat-primary" (click)="plotGraph()">GET DATA</button>
      <br>
      <div id="container">
        <div class="mat-elevation-z8 dataGraph">
            <canvas id="canvas">{{ chart }}</canvas>
        </div>
        <div class="mat-elevation-z8 dataGraph">
          <canvas id="pieGraph">{{ pieChart }}</canvas>
        </div>
        <div class="mat-elevation-z8" style="clear:both; width:100%; display:inline-block;">
          <ul class="legend">
          </ul>
        </div>
      </div>
  </mat-card-content>
</mat-card>